.header-card {
  margin: 16px;
  border-radius: 12px;


  ion-card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--ion-color-light);

    ion-icon {
      font-size: 1.5rem;
    }
  }

  ion-card-content p {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
  }
  background: linear-gradient(
    135deg,
    var(--ion-color-primary) 0%,
    var(--ion-color-gold-shade) 100%
  );

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      135deg,
      var(--ion-color-primary) 0%,
      var(--ion-color-secondary) 100%
    );
    
  }
}

.loading-container,
.ranking-container {
  padding: 0 8px 8px;
}
