<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my_activities" href="/tabs/my_activities">
      <ion-icon aria-hidden="true" name="stopwatch"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking" href="/tabs/ranking">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="currentUser && currentUser.privateProfile.role === 'admin'" tab="admin" href="/tabs/admin">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
