<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my_activities" href="/tabs/my_activities">
      <ion-icon aria-hidden="true" name="stopwatch"></ion-icon>
      <ion-label i18n="tabs.activities">Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking" href="/tabs/ranking">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label i18n="tabs.ranking">Ranking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label i18n="tabs.profile">Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
