<ion-header>
  <ion-toolbar>
    <ion-title>Datenschutzerklärung für die "BetterGS" App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datenschutzerklärung für die "BetterGS" App</ion-card-title>
      <ion-card-subtitle>Transparenz- und Informationspflicht nach Art.13 und 14 Datenschutzgrundverordnung (DSGVO)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher
      ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In dieser
      Datenschutzerklärung informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen der
      Bürgersprechstunde via WhatsApp.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kontaktdaten</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>Verantwortliche Stelle gemäß Art. 13 und 14 DSGVO</strong><br>
      Stadt Goslar, Oberbürgermeisterin, Charley-Jacob-Straße 3, 38640 Goslar<br>
      Tel.: 05321/704-0, E-Mail: <a href="mailto:stadtverwaltung&#64;goslar.de">stadtverwaltung&#64;goslar.de</a><br>
      <br>
      <strong>Behördliche/r Datenschutzbeauftrage/r</strong><br>
      Fachbereich Zentrale Dienste, Fachdienst Organisation, Frau Mareike Kahnes, Wallstraße 1b, 38640 Goslar<br>
      Tel.: 05321/704-443, E-Mail: <a href="mailto:datenschutz&#64;goslar.de">datenschutz&#64;goslar.de</a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Verarbeitung Ihrer personenbezogenen Daten</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>Zweck und Rechtsgrundlage der Verarbeitung</strong><br>
      Die Bürgersprechstunde via WhatsApp dient zum Austausch zwischen Bürger und Oberbürgermeister.<br>
      Sofern Sie an der Bürgersprechstunde via WhatsApp teilnehmen, geschieht das auf freiwilliger Basis ihrerseits.<br>
      Die Rechtsgrundlage ergibt sich aus Art. 6 Abs.1 lit.a DSGVO
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>2. Erhebung Ihrer personenbezogenen Daten von uns bei Dritten</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ihre Daten erhalten wir direkt von Ihnen.<br>
      <strong>Kategorien der personenbezogenen Daten, die verarbeitet werden:</strong><br>
      Handynummer und freiwillige Angaben
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>3. Speicherdauer Ihrer personenbezogenen Daten</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ihre Daten werden solange auf dem extra dafür bereitgestellten Handy/Smartphone gespeichert, solange sie für
      die Bearbeitung des Anliegens notwendig sind. Nach Abschluss der Bearbeitung wird der Chatverlauf gelöscht.<br>
      Es wird keine Eintragung ihrer Daten in das Handy/Smartphone vorgenommen
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>4. Übermittlung Ihrer personenbezogenen Daten an Dritte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Die Weitergabe Ihrer Daten erfolgt nur, wenn eine Rechtsgrundlage dies notwendig macht, dies gestattet oder
      durch Ihre Beauftragung die Weitergabe erforderlich ist.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>5. Betroffenenrechte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nach der Datenschutz-Grundverordnung stehen Ihnen die Rechte aus Art. 15-18, 20, 21 zu:
      <ul>
        <li>Recht auf Auskunft über die zu Ihrer Person gespeicherten Daten</li>
        <li>Recht auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch gegen die Verarbeitung, wenn die gesetzlichen Voraussetzungen dafür vorliegen</li>
        <li>Beschwerde beim Landesbeauftragen für den Datenschutz Niedersachsen, Prinzenstraße 5, 30159 Hannover</li>
        <li>Recht auf Datenübertragbarkeit, wenn die gesetzlichen Voraussetzungen dafür vorliegen</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>6. Widerrufsrecht bei Einwilligung</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Wenn Sie in die Datenerhebung durch den Verantwortlichen durch eine entsprechende Erklärung eingewilligt haben, können Sie die Einwilligung jederzeit für die Zukunft widerrufen.
    </ion-card-content>
  </ion-card>
</ion-content>